.splash-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.splash-image {
  width: 240px;
  height: auto;
}
.splash-title {
  display: block;
  font-size: 2em !important;
  margin-block-start: 0.2em !important;
  margin-block-end: 0.2em !important;
  font-weight: bold !important;
}
.splash-progress {
  width: 240px;
  height: auto;
}
