:root {
  --dialog-header: lightyellow;
  --red: #f44336;
  --white: #faf0e6;
  --border-color: rgba(224, 224, 224, 1);
  --border-dark-color: gray;
  --table-header-bg: rgb(254, 210, 194);
  --table-row-selected: blue;
}

.app-container {
  height: 100vh;
  margin: 0;
  background: url('/public/static/images/background.webp') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
}
